:root {
  font-size: 16px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 500;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  display: grid;
  grid-template-columns: 1fr min(1200px, 90%) 1fr;
  background: radial-gradient(circle at bottom, #443385, #0B132B);
  color: #fff;
  min-height: 100dvh;
}

body >  * {
  grid-column: 2;
}
